@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
html, body {
  overflow-x: hidden;
}

ul.table {
  display: table-row;
}

ul.table > li {
  display: table-cell;
}

.card-align {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}

.myname {
  font-family: 'Pacifico';
  color:#c2c2e4;
  text-shadow: rgb(0, 0, 0) 8px 0px 0px, rgb(0, 0, 0) 7.93758px 0.997398px 0px, rgb(0, 0, 0) 7.7513px 1.97923px 0px, rgb(0, 0, 0) 7.44406px 2.93018px 0px, rgb(0, 0, 0) 7.02066px 3.8354px 0px, rgb(0, 0, 0) 6.4877px 4.68078px 0px, rgb(0, 0, 0) 5.85351px 5.45311px 0px, rgb(0, 0, 0) 5.12797px 6.14035px 0px, rgb(0, 0, 0) 4.32242px 6.73177px 0px, rgb(0, 0, 0) 3.44941px 7.21814px 0px, rgb(0, 0, 0) 2.52258px 7.59188px 0px, rgb(0, 0, 0) 1.55638px 7.84714px 0px, rgb(0, 0, 0) 0.565898px 7.97996px 0px, rgb(0, 0, 0) -0.433417px 7.98825px 0px, rgb(0, 0, 0) -1.42597px 7.87189px 0px, rgb(0, 0, 0) -2.39627px 7.63269px 0px, rgb(0, 0, 0) -3.32917px 7.27438px 0px, rgb(0, 0, 0) -4.21013px 6.80256px 0px, rgb(0, 0, 0) -5.02539px 6.22459px 0px, rgb(0, 0, 0) -5.76223px 5.54948px 0px, rgb(0, 0, 0) -6.40915px 4.78778px 0px, rgb(0, 0, 0) -6.95606px 3.95136px 0px, rgb(0, 0, 0) -7.39442px 3.05329px 0px, rgb(0, 0, 0) -7.71739px 2.10757px 0px, rgb(0, 0, 0) -7.91994px 1.12896px 0px, rgb(0, 0, 0) -7.9989px 0.132735px 0px, rgb(0, 0, 0) -7.95304px -0.865561px 0px, rgb(0, 0, 0) -7.78307px -1.85035px 0px, rgb(0, 0, 0) -7.49165px -2.80627px 0px, rgb(0, 0, 0) -7.08333px -3.71839px 0px, rgb(0, 0, 0) -6.56448px -4.57249px 0px, rgb(0, 0, 0) -5.94318px -5.35524px 0px, rgb(0, 0, 0) -5.22915px -6.05442px 0px, rgb(0, 0, 0) -4.43352px -6.65912px 0px, rgb(0, 0, 0) -3.5687px -7.15991px 0px, rgb(0, 0, 0) -2.6482px -7.54898px 0px, rgb(0, 0, 0) -1.68637px -7.82024px 0px, rgb(0, 0, 0) -0.698222px -7.96947px 0px, rgb(0, 0, 0) 0.300817px -7.99434px 0px, rgb(0, 0, 0) 1.29516px -7.89446px 0px, rgb(0, 0, 0) 2.2693px -7.67139px 0px, rgb(0, 0, 0) 3.20802px -7.32862px 0px, rgb(0, 0, 0) 4.09668px -6.87148px 0px, rgb(0, 0, 0) 4.92142px -6.30711px 0px, rgb(0, 0, 0) 5.66936px -5.64432px 0px, rgb(0, 0, 0) 6.32883px -4.89346px 0px, rgb(0, 0, 0) 6.88954px -4.06623px 0px, rgb(0, 0, 0) 7.34274px -3.17555px 0px, rgb(0, 0, 0) 7.68136px -2.23532px 0px, rgb(0, 0, 0) 7.90012px -1.26021px 0px, rgb(0, 0, 0) 7.9956px -0.265434px 0px;
}

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #aaabbf;
  background: #000;
  position: relative;
}

a {
  color: #51c68e;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
a:after {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 5px;
  width: 100%;
  z-index: -1;
  content: "";
  background: #29292a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:active, a:focus {
  color: #fff;
  text-decoration: none !important;
}
a:hover:after, a:active:after, a:focus:after {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  content: "";
}



p {
  margin-bottom: 30px;
  margin-top: 0;
  padding-top: 0;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #FFF;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #51c68e;
}

::-moz-selection {
  color: #fff;
  background: #51c68e;
}

::selection {
  color: #fff;
  background: #51c68e;
}

#header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attached: fixed;
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: inset 0px -5px 11px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 11px -6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 11px -6px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  #header {
    height: 300px;
  }
}
#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: transparent;
}
#header .bio-photo {
  z-index: 20;
  position: absolute;
  bottom: 0;
  margin-bottom: -92px;
  left: 50%;
  margin-left: -92px;
}
#header .bio-photo img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 10px solid #000;
}
#header .bio-photo a:after {
  display: none !important;
}

#main {
  padding-top: 5em;
}
#main .section-heading h2 {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 16px;
  color: #FFF;
}
#main strong {
  color: #FFF;
}

.section {
  padding: 7em 0;
}

.works .work {
  margin-bottom: 30px;
  float: left;
}
.works .work > a {
  position: relative;
  overflow: hidden;
  display: block;
  outline: none !important;
}
.works .work > a:after {
  display: none !important;
}
.works .work > a img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.works .work > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#footer {
  padding: 7em 0;
  background: #262626;
  color: #666666;
}
#footer a {
  color: #f9d623;
}
#footer .social {
  margin: 0;
  padding: 0;
}
#footer .social li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#footer .social li a {
  padding: 20px;
  color: #f9d623;
}
#footer .social li a i {
  font-size: 30px;
}
#footer .social li a:hover, #footer .social li a:focus, #footer .social li a:active {
  text-decoration: none;
  color: #fff;
}
#footer .copyright em {
  display: block;
  font-style: normal;
}

#features {
  padding: 7em 0;
}
#features .feature-center {
  text-align: center;
  float: left;
  width: 100%;
}
@media screen and (max-width: 992px) {
  #features .feature-center {
    margin-bottom: 30px;
  }
}
#features .feature-center .icon {
  width: 90px;
  height: 90px;
  background: #f9d623;
  border: 4px solid rgba(255, 255, 255, 0.07);
  display: table;
  text-align: center;
  margin: 0 auto 20px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#features .feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
#features .feature-center p, #features .feature-center h3 {
  margin-bottom: 10px;
}
#features .feature-center h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #FFF;
}
#features .feature-center p {
  color: #a6a6a6;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: none !important;
  border: 2px solid #52d3aa;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 20px;
}
.btn.btn-md {
  padding: 4px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #51c68e;
  color: #fff;
  border: 2px solid #51c68e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #5ae4a1 !important;
  border-color: #5ae4a1 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #51c68e;
  border: 2px solid #51c68e;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #51c68e;
  color: #fff;
}

.btn-success {
  background: #51c68e;
  color: #fff;
  border: 2px solid #51c68e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #51c68e !important;
  border-color: #51c68e !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #51c68e;
  border: 2px solid #51c68e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #51c68e;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #51c68e;
}

textarea.form-control {
  height: inherit !important;
}

.row-pb-md {
  padding-bottom: 6em;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
